# Ignore Visual Studio and build folders
.vs/
*/.vs/
bin/
obj/
Debug/
Release/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore IDE cache
*.vsidx

# Ignore other temporary files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db
